block title
    - var title = ""

head
    meta(charset="utf-8")
    meta(
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    )
    meta(
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    )

    // Page information 
    if title === ""
        title= siteTitle
    else
        title= title + " - " + siteTitle
    meta(
        name="description"
        content=siteDescription
    )

    // Links 
    link(
        rel="stylesheet"
        href="css/main.min.css"
    )
    link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sarabun|Rubik:400,500,700|Cairo|Fredoka+One|Passion+One|Rajdhani|Yanone+Kaffeesatz"
    )
    block additional_links